/* elementos por id*/
body{
    background-color: #F7E4FD;
    font-family: Arial, Helvetica, sans-serif;
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width:35%;
}
#titulo-cuerpo{ 
    text-align: left;
}
#parrafos{
text-align: justify;
}
#xbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#xbox_consolas{
    display: block;
    margin-right: auto;
    width: 50%;
  
}
/* elementos por class*/
.menu{  
    width: 100%;
    padding:10px;
    background-color: F7E4FD;  
    display: flex;         
}
.contenido{
    width:  60%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}
