/* elementos por id*/
body{
    background-color: #F7E4FD;
    font-family: Arial, Helvetica, sans-serif;
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    background-position: top left; 
    width:40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 35%;

}
#barra_menu{
    width: 30px;
}
#boton_menu{
    background-color: #eecdf8;
    border-color: #eecdf8;
    font-size: 18px;
    margin: auto;
    text-decoration-line: none;
    border-radius: 10%;
    transition-duration: 0.4s;
}

#boton_menu:hover{
    font-size: 20px;
    border-color: white;
    border-style: solid;
}

#boton_cerrar{
   float: right;
}

#contenido_info{
    list-style-type: none;
    display: none;
    background-color: #eecdf8;
    border-color: #eecdf8;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.5s;
}

#links:hover{
    color: white;
    font-size: 20px;
}

#formulario{
    text-align: left;
    display: none;
    background-color: #eecdf8;
    border-color: #eecdf8;
    width: 180px;
    padding: 10px;
    border-radius: 10px;

}
#titulo-cuerpo{ 
    text-align: left;
}

#parrafos{
text-align: justify;
}

#xbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#xbox_consolas{
    display: block;
    margin-right: auto;
    width: 100%; 
}

#tabla_comparacion,td,th{
    border: 1px solid black;
    text-align: left;
    width: 50%;
}

#Imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}
/* elementos por class*/
.menu{ 
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding:10px 10px;
    background-color: #F7E4FD;     
    z-index: 1;
}
.contenido{
    z-index: -1;
    width:60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}
.contacto{
    background-color: #eecdf8;
}

.formulario{
    position: fixed;
    top: 70px;
    right: 30px;
    z-index: 2;
}
.contenido_info{
    position: fixed;
    top: 55px;
    right: 50px;
    z-index: 2;
}
.tablas{
    display: flex;
    margin: auto;
    padding: 10px;
}

.Carrousel{
    width: auto;
    margin: 0 auto;
    display: flex;
}